.DS_Store
.atom/
.dart_tool/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
android/.gradle/
android/local.properties
flutter_01.log
ios/Flutter/flutter_export_environment.sh
